section {
    display: flex;
    width: 70%;
    height: 75%;
    color: white;
    padding: 2em;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}


.reprodutor {
    display: flex;
    max-height: 70%;
    align-items: flex-end;
    justify-content: space-around;
}

.controls{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 4em;
}

.letra{
    padding: 1em;
    min-width: 50%;
    max-height: 85%;
    overflow: auto;
    text-align:justify;
}

svg{
    font-size: 3em;
}

.reprodutor img {
    width: 300px;
}